h2 {
    text-align: center;
    background-color: rgb(155, 0, 0);
    color: white;
    border: 1px solid black;
    padding: 10px;
}
.col {
    margin: 5px;
}
.form-check-input {
    margin-left : 5px;
}
#radio1,#radio2,#radio3 {
    margin-right: 5px;
}
button {
    margin-right: 10px;
}
input.ng-touched.ng-invalid, select.ng-touched.ng-invalid, textarea.ng-touched.ng-invalid {
    border: 1px solid red;
}
small {
    color: red;
    font-size: 12px;
    margin-left: 2px;
}
